# Executables
*.exe
*.out
*.app

# Object files
*.o
*.obj

# Temporary build files
*.log
*.tmp

# macOS system files
.DS_Store
__MACOSX

# Windows system files
Thumbs.db
desktop.ini

# IDE-specific files
*.swp
*.swo
*.bak
.idea/
